
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testt</title>
</head>
<body>
    <script src="lib/vue/dist/vue.js"></script>
</body>
</html>
